*{
  box-sizing: border-box;
}
body{
  background-color: var(--primary-color);
}
.dashboard-container{
  margin-left: 80px;
  height: 100%;
  display: flex;
}
/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  color: black;
  width: 80px;
  transition: width 0.3s ease;
  border-right: 2px black solid;
}
.sidebar:hover{
    display: block;
    width: 180px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 5px 15px;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    position: relative;
    padding: 10px;
    box-sizing: initial;
    border-radius: 25px;
}

.sidebar a:hover {
  background-color: var(--tertiary-color);
  color: white;
}

.sidebar a:hover .menu-name {
  display: inline;
  transition: display 0.3s ease;
}

.sidebar i {
  font-size: 24px;
}

.menu-name {
  display: none;
  font-size: 16px;
  margin-left: 10px;
  white-space: nowrap;
}

.sign-out {
  position: absolute            ;
    width: 150px;
    bottom: 0px;
}

/* grid container */
.dashboard-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  background-color: transparent;
}
.dashboard-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0px 0px 20px 20px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: grey 0px 0px 15px 1px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
}
.dashboard-grid-item:hover {
  background-color: var(--tertiary-color);
  color: white;
}
/* dashboard sidebar left side */
.dashboard-sidebar-right{
  padding-right: 20px;
  color: var(--tertiary-color);
  flex: 1;
}
/* dashboard-middle-container contains hello message and canteen status*/
.dashboard-middle-container{
  flex: 3;
  padding-right: 20px;
}
.dashboard-middle-container-top{
  display: flex;
  justify-content: space-between;
}
.hello-admin,.canteen-status{
  margin:20px 0px 0px 20px;
  padding: 0px 20px;
  font-size: 20px;
}
.hello-admin{
  font-weight: 800;
}
.canteen-status{
  background-color: var(--secondary-color);
  border-radius: 50px;
}
.status-circle{
  color: yellow;
  margin-right: 10px;
}
.dashboard-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 10px 20px;
  color: var(--tertiary-color);
}
.dashboard-heading-text{
  display: inline-block !important;
}
.dashboard-heading-right{
  display: flex;
  flex-direction: row;
}
.dashboard-item-image{
  width: 100%;
}
.item-name-n-price{
display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 800;
}
.item-name-n-price > h5{
  /* display: ; */
}
#popular-piechart{
  margin: 30px 0px;
}
#update-item-btn{
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
} 
#update-item-btn:hover{
  background-color: transparent;
} 