body{
  font-family: Nunito Sans;
}
.container {
  width:100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.5)),
  url("../assets/pizza.jpeg");
background-repeat: no-repeat;
background-size: cover;
}
#user-profile {
    height :400px;
    width: 600px;
    background-color: var(--primary-color);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 0px 10px 10px 10px;
    z-index: 9;
}
h2{
   display: flex;
   justify-content: center;
}
#name {
  text-align: left;
  font-size: 24px;
  font-weight: 600;

}
p>span {
  margin-right:10px;
  font-weight: 600;
  
}
#profile-img {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  position: relative;
  float: right;
  right: 10px;
  border-width: 10px;
  background: linear-gradient(to right, #df2828, #dfd914,#ff1313);
  border: 5px solid transparent;
  
}
#triangle{   
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 32px;
    border-bottom: 50px solid var(--tertiary-color);
    border-left: 75px solid transparent;
    transform: rotate(-180deg);
    margin-right: 20px;
  }
  #close {  
    font-size: 30px; 
    color:white;
  }

    #triangle2 {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 200px;
      height: 0px;
      border-bottom: 200px solid var(--tertiary-color);
      border-right: 80px solid transparent;
      transform: rotate(-90deg);
      }

      #info {
        width: 300px;
        height: 300px;    
        position: absolute;
        bottom: 10px;
        left: 50px;
     
      }
      .update{
        background-color: var(--tertiary-color);
        outline:none;
        border: none;
        padding:7px;
        color:#fff;
        border-radius: 5px;
        
      
      }
      #verify_user, #verify_pass{
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;      
        transform: translate(-50%,-50%);
        background-color: white;
        padding:20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      
    }

    .title{
        text-align: center;
    }

    #submit:disabled {
  cursor: not-allowed;
  position: relative;
}
input[type="submit"]{
        padding: 6.9px;
        border:none;
        background-color: #BD271B;
        color:white;
        
    }
input[type="password"]{
        padding: 5px;
          width:300px;
          outline:none;
          font-size: 18px;
        
    }
    #error, #ERRORMSG{
      color:red;
      font-weight: 600;
    }
    @media screen and (max-width: 600px){
      #user-profile{
        width: 90%;
      }
    }
    @media screen and (max-width: 475px) {
      body {
        background-color: lightgreen;
      }
      #user-profile{
        width: 90%;
        height: 90%;
      }
      #triangle{
        width: 75px;
        border-bottom: 50px solid var(--tertiary-color);
      }
      #triangle2{
        display: none;
      }
      #profile-img{
        float: none;
        right: 0px;
        text-align: center;
      }
      #name{
        text-align: center;
      }
      .img-div{
        text-align: center;
      }
      #info{
        left: 30px;
      }
    }