.receipt_container{
    box-sizing: content-box;
}
.receipt tr{
      
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

     

  .receipt th, .receipt td {
      width :180px;
      text-align: left;
      font-size:14px;
      font-weight:600;  
     padding-left:20px; 
           
    }
    .receipt td{
     height:60px;

     
  }
  .receipt th{
      background-color:#eaeaea;
      top:0;
      position: sticky;
      height:50px;
      font-size: 16px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      
     
  }
  img{
    margin-top: 20px;
    width:80px;   
  
}
/* for receipt */
body {
    font-family: Arial, sans-serif;
  }
  
  .receipt_container {
    display: none;
  width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color:white;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:6;
    
  }
  tbody{
   overflow:scroll;
  }
  .header {
    position: relative;
    left:7%;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .info {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .receipt th, .receipt td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
 .receipt th {
    background-color: #f2f2f2;
  }
  .receipt th, .receipt td{
    height:10px;
  }
  
  #footer {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    transform: translateX(-20px);
    
  }
 .blockerr{
  display:none;
  width:100vw;
  height: 100vh;
  background-color:black;
  position:fixed;
  top:0;
  left:0;
  z-index:3;
  opacity:0.8;
 }
 #odate{
  text-align:right;
 }
 .view_btn{
  background: none;
  border:none;
  color:orange;
 }
#header_img{
position: fixed;
left:23%;
top:7%;
}
#close_receipt{
position:absolute;
top:12px;
right:0;
}
.download-button{
color:black;
}