:root {
    --primary-color:#eaeaea;
    --secondary-color:#F5C13F;
    --tertiary-color:#BD271B;
    --alternate-color:#F6FFA6;
    --bright-green:#AAFF00;
  }
  button, i , img, a {
    cursor: pointer;
  }